<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tutorMapper">

    <!--  登录  -->
    <select id="login" parameterType="loginForm" resultType="tutor">
        select * from t_tutor where tno=#{account} and password=#{password}
    </select>

    <!--  修改个人基本信息  -->
    <update id="changeProfile" parameterType="tutor">
        update t_tutor set name=#{name},gender=#{gender},tel=#{tel},qq=#{qq},introduction=#{introduction} where tno=#{tno}
    </update>

    <!--  修改密码  -->
    <select id="changePassword" parameterType="loginForm">
        update t_tutor set password=#{password} where tno=#{account}
    </select>

    <!--  查询我发布的课题  -->
    <select id="queryMyPublishProject" parameterType="long" resultType="project">
        select * from t_project where tutorId=#{tutorId}
    </select>

    <!--  修改我发布的课题信息  -->
    <select id="changeProjectInfo" parameterType="project">
        update t_project set name=#{name},source=#{source},nature=#{nature},demand=#{demand},content=#{content} where id=#{id}
    </select>

    <!--  发布新课题  -->
    <insert id="publishNewProject" parameterType="project">
        insert into t_project  values (null,#{name},#{content},null,#{tutorId},#{nature},#{source},#{demand})
    </insert>

    <!--  查询课题名称是否唯一  -->
    <select id="queryIsUniqueProjectName" parameterType="string" resultType="project">
        select * from t_project where name=#{name}
    </select>

    <!--  删除课题  -->
    <delete id="deleteProject" parameterType="int">
        delete from t_project where id=#{id}
    </delete>

    <!--  查询选择我的课题的所有学生的学号和姓名  -->
    <select id="searchStudentSnoName" parameterType="long" resultType="map">
        select s.sno,s.name from t_student s,t_project p where s.sno=p.studentId and p.tutorId=#{tno}
    </select>

    <!--  获取我的学生上传的所有开题报告  -->
    <select id="searchAllReport" parameterType="long" resultType="openingReport">
        select * from t_openingreport where tno=#{tno}
    </select>

    <!--  根据学号查询某个学生的开题报告  -->
    <select id="getReportBySno" parameterType="long" resultType="openingReport">
        select * from t_openingreport where sno=#{sno}
    </select>

    <!--  点评开题报告(即更新)  -->
    <update id="updateOpeningReport" parameterType="map">
        update t_openingreport set status=#{state},comment=#{remark} where id=#{id}
    </update>

</mapper>